body {
  background-color: #B0B0B0;
}

.header {
  text-align: center;
  margin: auto;
  width: 60%;
  background-color: #F0F0F0;
}

.adoption {
  margin: auto;
  width: 60%;
  background-color: #F0F0F0;
}

.adoption p {
  padding: 10px;
}

.header h1, p {
  padding: 10px;
}

.adoption img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  color: red;
}
